{% extends "base.html" %}
{% load static %}

{% block content %}

<main>

    <div class="hero">
        <img src="/media/menu_images/martini.webp" alt="Nova martini" class="hero-image">
        <div class="hero-text">
            <h1>Taste the Stars at Nova Restaurant</h1>
            <p>Embark on a culinary journey with dishes that are as out of this world as the stars themselves.</p>
            <a class="btn btn-lg btn-primary" href="{% url 'reservation:reservation_list' %}">Make a reservation today</a>
        </div>
    </div>
    
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row" style="padding: 40px 0px;">
            <div class="col-md-4 text-center mt-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <h2 class="fw-normal mt-4">Excellence in Service</h2>
                <p class="mt-4" style="text-align: justify;">
                    We are dedicated to delivering outstanding hospitality, ensuring that every guest feels valued and appreciated. Our team goes above and beyond to create a warm and inviting atmosphere, providing personalized attention and prompt service. We believe that a great dining experience is not just about the food but also about the connections and memories made around the table.
                </p>
                
            </div>

            <div class="col-md-4 text-center mt-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <h2 class="fw-normal mt-4">Excellence in Service</h2>
                <p class="mt-4" style="text-align: justify;">
                    We are dedicated to delivering outstanding hospitality, ensuring that every guest feels valued and appreciated. Our team goes above and beyond to create a warm and inviting atmosphere, providing personalized attention and prompt service. We believe that a great dining experience is not just about the food but also about the connections and memories made around the table.
                </p>
            </div>

            <div class="col-md-4 text-center mt-3">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
                <h2 class="fw-normal mt-4">Excellence in Service</h2>
                <p class="mt-4" style="text-align: justify;">
                    We are dedicated to delivering outstanding hospitality, ensuring that every guest feels valued and appreciated. Our team goes above and beyond to create a warm and inviting atmosphere, providing personalized attention and prompt service. We believe that a great dining experience is not just about the food but also about the connections and memories made around the table.
                </p>
            </div>
      </div>
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
        <div class="row featurette" style="padding: 40px 0px;">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 mb-5">About Us<span class="text-body-secondary"> The Story of Nova</span></h2>
                <p class="lead" style="align-content: center;">Welcome to Nova Restaurant, where gastronomy meets the cosmos! <br> Founded in 2023, we set out on a mission to create a dining experience that’s truly out of this world. Inspired by the beauty and mystery of the universe, our restaurant blends futuristic design, celestial flavors, and an immersive atmosphere to transport guests beyond the ordinary.
                    <br> At Nova, every dish is a journey through the stars—crafted with high-quality ingredients, innovative techniques, and a passion for creativity. Whether you're sipping on a Supernova Margarita or indulging in our Beef Eclipse, each bite is designed to take your taste buds on an interstellar adventure.</p>
            </div>
            <div class="col-md-5" style="align-content: center;">
                <img src="/media/menu_images/restaurant.jpg" 
                alt="tables of restaurant" 
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
                width="500" height="500" style="object-fit: cover;">
            </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette" style="padding: 40px 0px;">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1 mb-5">Nova Dining<span class="text-body-secondary"> Fine Dining with Galactic Ambition</span></h2>
                <p class="lead" style="align-content: center;">At Nova Restaurant, we strive for a dining experience that blends innovation, precision, and artistry—qualities found in the world’s most celebrated kitchens. <br> Inspired by the craftsmanship of Michelin-starred restaurants, our menu is carefully curated to deliver flavors that are truly out of this world. Each dish is crafted with top-quality ingredients, expert techniques, and an unwavering passion for culinary excellence. <br>
                    While we are not yet Michelin-starred, our commitment to exceptional food, stellar presentation, and immersive atmosphere puts us on a path toward recognition. From the moment you step into Nova, you’re transported into a futuristic fine-dining experience, where cosmic-inspired dishes meet an atmosphere that is both elegant and otherworldly.
                <br> Join us and experience a taste of the extraordinary—where the universe and fine dining collide.</p>
            </div>
            <div class="col-md-5 order-md-1" style="align-content: center;">
                <img src="/media/menu_images/plate_menu.jpg" 
                alt="Plate over a menu" 
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
                width="500" height="500" style="object-fit: cover;">
            </div>
        </div>
  
        <hr class="featurette-divider">
  
        <div class="row featurette" style="padding: 40px 0px;">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1 mb-5">Opening Times<span class="text-body-secondary"> </span></h2>
                <p class="lead" style="align-content: center;">Join us at Nova Restaurant for an unforgettable cosmic dining experience, morning to night. Whether you're starting your day with a Solar Flare Espresso or ending it with a Supernova Margarita, we’re here to take you on a journey beyond the stars.
                    <br>
                    <br>
                    <br>
                    📍 Open Every Day:
                    ⏳ 08:00 - 23:00 
                </p>
            </div>
            <div class="col-md-5" style="align-content: center;">
                <img src="/media/menu_images/restaurant.jpg" 
                alt="tables of restaurant" 
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" 
                width="500" height="500" style="object-fit: cover;">
            </div>
        </div>
  
    </div>



{% endblock %}