{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 intro-text text-center mt-5">
            <h1>Where to Find Us</h1>
            <p>
                Find your way to an intergalactic dining experience at Nova Restaurant. Nestled in the heart of the city, our cosmic-themed space is the perfect destination for those seeking stellar flavors and an unforgettable atmosphere. 
            </p>
        </div>
    </div>


    <div class="container marketing">
        <div class="row featurette" style="padding: 40px 0px;">
            <div class="col-md-7">
                <p class="lead" style="align-content: center;">
                    Located in the vibrant heart of Battersea, London, Nova Restaurant is just a stone’s throw away from the iconic Gordon Ramsay Pizza. Whether you're a local or visiting from afar, our cosmic dining experience is easy to find in this bustling neighborhood. <br> Come explore a galaxy of flavors, right next door to one of London’s most famous eateries.
                    <br>
                    <br>
                    📍 Address:<br>
                    Nova Restaurant<br>
                    2 Arches Lane Circus,<br>
                    London SW11 8AB,<br>
                    United Kingdom
                </p>
            </div>
            <div class="col-md-5" style="align-content: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.6281326232884!2d-0.1519965062092922!3d51.483339799116756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876059368aa45a7%3A0x8a8092a4bc0db15c!2sGordon%20Ramsay%20Street%20Pizza%20-%20Battersea!5e0!3m2!1sen!2sco!4v1739839268263!5m2!1sen!2sco"
                 width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>













</div>

{% endblock %}

